.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body{
    background-color: #36454F;
    margin: 0;
}

h1 {
    margin: 30px;
    font-family: cursive;
    text-shadow: 5px 0 #A9A9A9;
    font-size: 4.5rem;
    color: #708090;
    text-align: center;
}

p{
    font-size: 2rem;
    color: #708090;
    font-family: cursive;
}

img{
    width: 100%;
}

.button {
  padding: 5px 15px;
  background: #70acb1;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 2rem;
  margin-left: 2rem;
}
.button:hover{
    background: #A9A9A9;
    text-decoration: none;
} */

.even-roll{
    transition: transform 1.5s ease-out;
}
.odd-roll{
    transition: transform 1.25s ease-out;
}
